/* Directory */
.card-container {
    height: 420px;
    width: 360px;
    align-items: start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
}

.card-text-direction {
    text-align: left;
}